<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <!-- **************************************
       * SPECIAL DotImage TWAIN TRACE LOGGING  
       *****************************************************************************************
       * Uncomment the section below and edit the initializeData to point to a valid location 
       * where the applicaiton will have rights to write a file
       * 
       * NOTE: comment this back out after your testing is done .. this will slow any 
       * DotTwain related activity significantly if left running in a production app
       *
       * Q10027 - HOWTO: Enable Trace Logging in DotTwain
       * http://www.atalasoft.com/KB/article.aspx?id=10027
       ***************************************************************************************** -->
  <!--
  <system.diagnostics>
    <switches>
      <add name="Atalasoft.Twain" value="4" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="DotTwainListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\users\YOUR_USERNAME\Documents\DotTwain.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  -->
</configuration>
